<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<ol>
<% @article.comments.each do |comment| %>

    <li>
      <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>
    </li>
<% end %>
</ol>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
    <% form.object.errors.full_messages_for(:commenter).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% form.object.errors.full_messages_for(:body).each do |message| %>
      <div> <%= message %> </div>
    <%end%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<ul>
  <li><%= link_to "Ir al Inicio", root_path %></li>
</ul>
